@font-face {
	font-family: "BentonSansCompLight";
	src: url("../fonts/BentonSans\ Comp\ Light.otf");
}
@font-face {
	font-family: "BentonSansRegular";
	src: url("../fonts/BentonSans\ Regular.otf");
}
@font-face {
	font-family: "BentonSansBook";
	src: url("../fonts/BentonSans\ Book.otf");
}
@font-face {
	font-family: "BentonSansBold";
	src: url("../fonts/BentonSans\ Bold.otf");
}
@font-face {
	font-family: "BentonSansCompBlack";
	src: url("../fonts/BentonSans\ Comp\ Black.otf");
}

.blogs {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 70px;
	gap:20px;
}

.cardblog {
	display: flex;
	align-items: center;
	width: 70%;
	height: 9em;
	max-width: 1600px; /* Adjust the maximum width as desired */
	margin: 10px;
	border-radius: 5px;
}

.divider{
	width: 70%;
	height: 1px;
	background-color: grey;
}

.cardblog:hover {
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.thumbnailset {
	max-width: 90%;
	max-height: 100%;
	object-fit: contain;
	/* border-radius: 5px; */
}

.cardcontent {
	/* padding: 10px; */
	width: 77%;
	margin-left: 3%;
	display: flex;
	flex-direction: column;
}

.titleblog {
	font-size: 30px;
	margin-top: -15px;
	color: white;
}

.authorblog {
	font-size: 12px;
	margin-top: 2px;
	color: #EC1D24;
}

.descblog {
	margin-top: 10px;
	font-size: 18px;
	color: white;
}

.dateblog {
	margin-top: 2px;
	font-size: 12px;
	color: #EC1D24;
}

.image-container {
	width: 20%;
	height: 85%;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	margin-left: 11px;
}

.mainbtn {
	position: absolute;
	display: flex;
}

.loading {
	display: flex;
	color: whitesmoke;
	margin-top: 20%;
	margin-bottom: 100px;
	justify-content: center;
	align-items: center;
}

.loadingOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 1); /* Semi-transparent black */
	z-index: 9999; /* Ensure it appears on top of other content */
}

.fade-in {
	animation: fadeIn ease 1s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
