@font-face{
    font-family: 'BentonSansCompLight';
    src:url('../fonts/BentonSans\ Comp\ Light.otf');
  }
@font-face {
    font-family: 'BentonSansRegular';
    src: url('../fonts/BentonSans\ Regular.otf');
  }
@font-face {
    font-family: 'BentonSansBook';
    src: url('../fonts/BentonSans\ Book.otf');
  }
@font-face {
    font-family: 'BentonSansBold';
    src: url('../fonts/BentonSans\ Bold.otf');
  }
@font-face {
    font-family: 'BentonSansCompBlack';
    src: url('../fonts/BentonSans\ Comp\ Black.otf');
}

.contents{
    width:84%;
    margin-bottom: 150px;
    margin-top: 50px;
    background-color: #9BABB8;
    border-radius: 5px;
}

.title{
    font-size: 70px;
    /* margin-top: 15px; */
    margin-left: 3%;
    margin-top: 3%;
    color: black;
    font-family:'BentonSansBold';
}

.byline{
    font-size: 20px;
    margin-left: 3.3%;
    margin-top: 0.5%;
    color: #EC1D24;
    font-family:'BentonSansRegular';
}

.datecreation{
    font-size: 20px;
    margin-left: 3.3%;
    margin-top: 0.5%;
    color: #EC1D24;
    font-family:'BentonSansRegular';
}

.dateupdate{
    font-size: 20px;
    margin-left: 3.3%;
    margin-top: 0.5%;
    color: #EC1D24;
    font-family:'BentonSansRegular';
}

.tagsspan{
    margin-left: 3.3%;
}

.tags{
    font-size: 20px;
    margin-top: 0.5%;
    margin-right: 3px;
    color: #EC1D24;
    font-family:'BentonSansRegular';
    background-color:lightgray;
    border-radius: 3px;
    transition: 0.3s;
}

.tags:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.contentsmain{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: #D1E7E3;
    width: 96%;
    border-radius: 5px;
    display: block;
}

.maincontent{
    font-size: 25px;
    word-spacing: 0.1em;
    font-family: 'BentonSansBook';
    white-space: pre-line;
    padding-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    line-height: 2.5;
    margin-bottom: 5%;
    width:80%;
    align-items: center;
}

.colorforby{
    color: black;
    font-family:'BentonSansRegular';
}

.contentimages{
    margin-left: 25%;
    margin-top: 2.5%;
    margin-bottom: 0%;
    width: 50%;
    height: 50%;
    object-fit: contain;
    border-radius: 5px;
    justify-content: center;
    align-self: center;
    /* have to add image container and center */
}

.video-container{
    margin-left: 23%;
    margin-top: 5%;
    margin-bottom: 0.1%;
    width: 50%;
    height: 50%;
    display: block;
}

.loading{
    display: flex;
    color: whitesmoke;
    margin-top: 20%;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
}


#maindiv{
    display: contents;
}

.loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);  /* Semi-transparent black */
    z-index: 9999;  /* Ensure it appears on top of other content */
  }

.fade-in {
    animation: fadeIn ease 1s;
}
  
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
