@font-face {
	font-family: "BentonSansCompLight";
	src: url("../fonts/BentonSans\ Comp\ Light.otf");
}
@font-face {
	font-family: "BentonSansRegular";
	src: url("../fonts/BentonSans\ Regular.otf");
}
@font-face {
	font-family: "BentonSansBook";
	src: url("../fonts/BentonSans\ Book.otf");
}
@font-face {
	font-family: "BentonSansBold";
	src: url("../fonts/BentonSans\ Bold.otf");
}
@font-face {
	font-family: "BentonSansCompBlack";
	src: url("../fonts/BentonSans\ Comp\ Black.otf");
}

.blogs {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 70px;
}

.cardblog {
	display: flex;
	align-items: center;
	width: 85%;
	height: 12em;
	max-width: 1600px; /* Adjust the maximum width as desired */
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
}

.cardblog:hover {
	transform: scale(1.05);
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.thumbnailset {
	max-width: 90%;
	max-height: 100%;
	object-fit: contain;
	/* border-radius: 5px; */
}

.cardcontent {
	/* padding: 10px; */
	margin-left: 3%;
}

.titleblog {
	font-size: 40px;
	margin-top: -15px;
	color: black;
}

.authorblog {
	font-size: 12px;
	margin-top: 2px;
	color: black;
}

.descblog {
	margin-top: 14px;
	font-size: 18px;
	color: black;
}

.dateblog {
	margin-top: 2px;
	font-size: 12px;
	color: black;
}

.image-container {
	width: 20%;
	height: 85%;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	margin-left: 11px;
}

.mainbtn {
	position: absolute;
	display: flex;
}
