.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1.0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .container {
    --uib-size: 40px;
    --uib-color: white;
    --uib-speed: 1.4s;
    --uib-bg-opacity: .1;
    height: var(--uib-size);
    width: var(--uib-size);
    transform-origin: center;
    overflow: visible;
  }
  
  .car {
    fill: none;
    stroke: var(--uib-color);
    stroke-dasharray: 15, 85;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: travel var(--uib-speed) linear infinite;
    will-change: stroke-dasharray, stroke-dashoffset;
    transition: stroke 0.5s ease;
  }
  
  .track {
    stroke: var(--uib-color);
    opacity: var(--uib-bg-opacity);
    transition: stroke 0.5s ease;
  }
  
  @keyframes travel {
    0% {
      stroke-dashoffset: 0;
    }
  
    100% {
      stroke-dashoffset: -100;
    }
  }