@font-face {
	font-family: "BentonSansCompLight";
	src: url("../fonts/BentonSans\ Comp\ Light.otf");
}
@font-face {
	font-family: "BentonSansRegular";
	src: url("../fonts/BentonSans\ Regular.otf");
}
@font-face {
	font-family: "BentonSansBook";
	src: url("../fonts/BentonSans\ Book.otf");
}
@font-face {
	font-family: "BentonSansBold";
	src: url("../fonts/BentonSans\ Bold.otf");
}
@font-face {
	font-family: "BentonSansCompBlack";
	src: url("../fonts/BentonSans\ Comp\ Black.otf");
}

.container {
	width: 100%;
}

.sort {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 4%;
	padding-right: 10%;
}

.sort-release {
	margin-right: 0.3%;
}

#releasesort-active {
	background-color: #ec1d24;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-top: 3px;
}

#releasesort {
	padding-top: 3px;
}

#timelinesort {
	padding-top: 3px;
}

#timelinesort-active {
	background-color: #ec1d24;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-top: 3px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mainphase-name {
	display: flex;
	justify-content: center;
	margin-bottom: 2.5%;
	color: white;
}

.phase {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
	justify-content: center;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
}

.phase-name {
	text-align: center;
	position: absolute;
	font-size: 10px;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8); /* Adjust opacity here */
	color:#ec1d24;
	transform: translateY(100%);
	padding: 10px;
	box-sizing: border-box;
	transition: transform 0.3s ease-in-out;
}

.anchorlink {
	display: contents;
}

.phase-projectcard {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #9babb8;
	width: 15%;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 10px; /* Adjust margin for spacing between cards */
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
}

.phase-projectcard:hover .phase-name {
	transform: translateY(0);
}


.phase-posters {
	width: 100%; /* Ensure the image fits within the card */
	border-radius: 5px; /* Optional: Rounded corners for the image */
}

.phase2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
	justify-content: center;
	margin-left: 10%;
	margin-right: 10%;
}

.phase2-name {
	text-align: center;
	position: absolute;
	font-size: 10px;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(155, 171, 184, 0.8); /* Adjust opacity here */
	transform: translateY(100%);
	padding: 8px;
	box-sizing: border-box;
	transition: transform 0.3s ease-in-out;
}

.phase2-projectcard {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #9babb8;
	width: 15%;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 10px; /* Adjust margin for spacing between cards */
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
}

.phase2-projectcard:hover .phase2-name {
	transform: translateY(0);
}

.phase2-projectcard:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.phase2-posters {
	width: 100%; /* Ensure the image fits within the card */
	border-radius: 5px; /* Optional: Rounded corners for the image */
}

.phase3 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
	justify-content: center;
	margin-left: 10%;
	margin-right: 10%;
}

.phase3-name {
	text-align: center;
	position: absolute;
	font-size: 10px;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(155, 171, 184, 0.8); /* Adjust opacity here */
	transform: translateY(100%);
	padding: 10px;
	box-sizing: border-box;
	transition: transform 0.3s ease-in-out;
}

.phase3-projectcard {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #9babb8;
	width: 15%;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 10px; /* Adjust margin for spacing between cards */
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
}

.phase3-projectcard:hover .phase3-name {
	transform: translateY(0);
}

.phase3-projectcard:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.phase3-posters {
	width: 100%; /* Ensure the image fits within the card */
	border-radius: 5px; /* Optional: Rounded corners for the image */
}

.loadingOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 1); /* Semi-transparent black */
	z-index: 9999; /* Ensure it appears on top of other content */
}

.fade-in {
	animation: fadeIn ease 1s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.loading {
	display: flex;
	color: whitesmoke;
	margin-top: 20%;
	margin-bottom: 100px;
	justify-content: center;
	align-items: center;
}
