{% extends "structure.html" %}
        {% block main %}
        <section class="home-hero">
          <div class="home-heading">
            <h1 class="home-header">
              <span class="home-text05">REDEFINE YOUR</span>
              <br />
              <span style="color: #EC1D24;">MCU</span>
              <span class="home-text05">EXPERIENCE</span>
              <br />
            </h1>
            <p class="home-caption">
              Stay Ahead on the MCU with Exclusive Updates on News, Leaks,
              Trailers, and More
            </p>
          </div>
          <!--<div class="home-buttons"></div> -->
          <img
            alt="image"
            src="../static/img/marvel/marvel-class-photo-1920x1080-1500w.jpg"
            class="home-divider-image"
          />
        </section>
        <section class="home-description">
          <div class="home-container4">
            <p class="home-paragraph">
              <span>Welcome to</span>
              <span class="home-text10">MCU REDEFINED</span>
              <span>
                , the fanpage dedicated to all Marvel enthusiasts! Immerse
                yourself in a world where heroes and villains collide, as we
                bring you the latest updates, news, and exclusive content
                straight from the Marvel Universe. From epic battles to
                heartwarming moments, we are committed to delivering a
                fan-centric experience like no other. Join us as we celebrate
                the iconic characters, unravel hidden secrets, and delve deep
                into the cinematic marvels that have redefined the superhero
                genre. Be part of our vibrant community and let the Marvel
                fandom thrive at MCU Redefined!
              </span>
            </p>
            <div class="home-description1">
              <div class="home-content"></div>
              <div class="home-links">
                <a
                  href="https://www.instagram.com/mcu_redefined/"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="button-link button"
                >
                  <span>Follow us on Instagram</span>
                  <img
                    alt="image"
                    src="../static/img/Icons/arrow.svg"
                    class="home-arrow"
                  />
                </a>
                <a
                  href="https://twitter.com/Mcu_Redefined"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="home-link1 button-link button"
                >
                  <span>Follow us on Twitter</span>
                  <img
                    alt="image"
                    src="../static/img/Icons/arrow.svg"
                    class="home-arrow1"
                  />
                </a>
                <a
                  href="https://discord.com/invite/KwG9WBup"
                  target="_blank"
                  rel="noreferrer noopener"
                  class="home-link2 button-link button"
                >
                  <span>Join us on Discord</span>
                  <img
                    alt="image"
                    src="../static/img/Icons/arrow.svg"
                    class="home-arrow2"
                  />
                </a>
              </div>
            </div>
          </div>
        </section>
        <section class="home-cards">
          <div class="home-card">
            <div class="home-row">
              <div class="home-main">
                <div class="home-content01">
                  <h2 class="home-header1">Latest Blog Post</h2>
                  <p class="home-description2">
                    Thunderbolts, Blade, Wonder-Man Have halted Production due
                    to the WGA Strike. Deadpool 3, Captain America: New World
                    Order are in production.
                  </p>
                </div>
                <button class="home-learn button">
                  <span class="home-text15">Learn more</span>
                  <img
                    alt="image"
                    src="../static/img/Icons/arrow-2.svg"
                    class="home-image02"
                  />
                </button>
              </div>
              <img
                alt="image"
                src="../static/img/DailyBugle.svg"
                class="home-image03"
              />
            </div>
          </div>
        </section>
        <!-- <section class="home-collection">
          <div class="home-content02">
            <span class="home-caption01">collections</span>
            <div class="home-heading1">
              <h2 class="home-header2">Fav. Characters</h2>
              <p class="home-header3">
                Check Out Your Favourite Characters and find all their
                appearences in the MCU.
              </p>
            </div>
          </div>
          <div class="home-main1">
            <div class="home-card01">
              <div class="home-image04">
                <img
                  alt="image"
                  src="../static/img/Characters/IronManSolo.jpg"
                  class="home-image05"
                />
              </div>
              <div class="home-content03">
                <span class="home-caption02">Iron Man</span>
                <h3 class="home-title">Tony Stark</h3>
              </div>
            </div>
            <div class="home-card02">
              <div class="home-image06">
                <img
                  alt="image"
                  src="../static/img/Characters/CapSolo.jpg"
                  class="home-image07"
                />
              </div>
              <div class="home-content04">
                <span class="home-caption03">Captain America</span>
                <h3 class="home-title1">Steve Rogers</h3>
              </div>
            </div>
            <div class="home-card03">
              <div class="home-image08">
                <img
                  alt="image"
                  src="../static/img/Characters/ThorSolo.jpg"
                  class="home-image09"
                />
              </div>
              <div class="home-content05">
                <span class="home-caption04">Thor</span>
                <h3 class="home-title2">Thor Odinson</h3>
              </div>
            </div>
            <div class="home-card04">
              <div class="home-image10">
                <img
                  alt="image"
                  src="../static/img/Characters/character-4.svg"
                  class="home-image11"
                />
              </div>
              <div class="home-content06">
                <span class="home-caption05">
                  <span>Hulk</span>
                  <br />
                </span>
                <h3 class="home-title3">Bruce Banner</h3>
              </div>
            </div>
            <div class="home-card05">
              <div class="home-image12">
                <img
                  alt="image"
                  src="../static/img/Characters/character-5.svg"
                  class="home-image13"
                />
              </div>
              <div class="home-content07">
                <span class="home-caption06">Hawkeye</span>
                <h3 class="home-title4">Clint Barton</h3>
              </div>
            </div>
            <div class="home-card06">
              <div class="home-image14">
                <img
                  alt="image"
                  src="../static/img/Characters/character-6.svg"
                  class="home-image15"
                />
              </div>
              <div class="home-content08">
                <span class="home-caption07">Black Widow</span>
                <h3 class="home-title5">Natasha Romanoff</h3>
              </div>
            </div>
            <div class="home-card07">
              <div class="home-image16">
                <img
                  alt="image"
                  src="../static/img/Characters/character-7.svg"
                  class="home-image17"
                />
              </div>
              <div class="home-content09">
                <span class="home-caption08">
                  <span>Falcon</span>
                  <br />
                </span>
                <h3 class="home-title6">Sam Wilson</h3>
              </div>
            </div>
            <div class="home-card08">
              <div class="home-image18">
                <img
                  alt="image"
                  src="../static/img/Characters/character-8.svg"
                  class="home-image19"
                />
              </div>
              <div class="home-content10">
                <span class="home-caption09">Winter Soldier</span>
                <h3 class="home-title7">Bucky Barnes</h3>
              </div>
            </div>
          </div>
          <button class="home-view button-link button">View all</button>
        </section> -->
        <section class="home-join-us">
          <div class="home-content11">
            <div class="home-main2">
              <div class="home-heading2">
                <h2 class="home-header4">MCU Timeline</h2>
                <p class="home-caption10">
                  Follow the Marvel Cinematic Universe Timeline: Unveil the Epic
                  Saga in Chronological Order"
                </p>
              </div>
              <button class="home-view1 button1">Unveil MCU Timeline</button>
            </div>
            <img
              alt="image"
              src="../static/img/Timeline.png"
              class="home-image20"
            />
          </div>
        </section>
        <section class="home-get-yours">
          <div class="home-row1">
            <div class="home-column">
              <div class="home-card09">
                <img
                  alt="image"
                  src="../static/img/AvengersLogo.png"
                  class="home-image21"
                />
              </div>
            </div>
            <div class="home-column1">
              <div class="home-card10">
                <img
                  alt="image"
                  src="../static/img/GuardiansLogo.png"
                  class="home-image22"
                />
              </div>
            </div>
          </div>
          <div class="home-column2">
            <div class="home-card11">
              <div class="home-content12">
                <h2 class="home-header5">Collaborate</h2>
                <p class="home-description3">
                  Are you a passionate Marvel enthusiast with theories swirling
                  in your mind, eager to share your unique perspectives and
                  insights with fellow fans? Look no further! MCU Redefined
                  invites you to collaborate with us and be a part of our
                  vibrant community that celebrates theories and speculation.
                </p>
              </div>
              <button class="home-button6 button1">Make Your Voice Heard</button>
            </div>
          </div>
        </section>
        {% endblock main %}